@font-face{
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
    @font-face{
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
    @font-face{
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
    @font-face{
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
    }

body {
    margin: 0;
}

h1, p {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1289px;
    height: 114px;
    margin-right: auto;
    margin-left: auto;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 533px;
    margin-left: 500px;
}

.header-item-home {
    text-decoration: none;
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.header-item {
    color: #000;
    font-family: Gilroy-Medium;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.intro {
    display: flex;
    gap: 40.94px;
    width: 1274px;
    height: 536px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.intro-title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 17px;
    width: 522px;
    height: 222px;
}

.intro-text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 37px;
    width: 466px;
    height: 48px;
}

.intro-button-wrapper {
    display: flex;
    gap: 72px;
    width: 374px;
    height: 94px;
    align-items: baseline;
}

.intro-button-start {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: normal;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    border: none;

}

.intro-button {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1240px;
    gap: 48px;
    margin: 0 auto;
    margin-top: 97px;
}