@font-face{
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
    @font-face{
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
    @font-face{
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
    @font-face{
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
    }

body {
    margin: 0;
}

h1, p {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1289px;
    height: 114px;
    margin-right: auto;
    margin-left: auto;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 533px;
    margin-left: 500px;
}

.header-item-home {
    text-decoration: none;
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.header-item {
    color: #000;
    font-family: Gilroy-Medium;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.intro {
    display: flex;
    gap: 40.94px;
    width: 1274px;
    height: 536px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.intro-title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 17px;
    width: 522px;
    height: 222px;
}

.intro-text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 37px;
    width: 466px;
    height: 48px;
}

.intro-button-wrapper {
    display: flex;
    gap: 72px;
    width: 374px;
    height: 94px;
    align-items: baseline;
}

.intro-button-start {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: normal;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    border: none;

}

.intro-button {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    gap: 48px;
    margin: 0 auto;
    margin-top: 105px;
}

.about {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 105px;
    width: 1240px;
    height: 476px;
    gap: 15px;
    margin: auto;

}

.about_title {
    margin: 0;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: normal;
    padding-left: 40px;
    gap: 17px;
}

.about_text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 150%;
    padding-left: 40px; 
    gap: 25px;
    width: 310px;
    height: 42px;
}


.about_item {
    display: grid;
    width: 381px;
    height: 291px;
    border: 1px solid #000;
}

.about_link {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    line-height: 150%;
    padding-left: 41px;
    gap: 30px;
}

.about_img {
    padding-top: 35px;
    padding-left: 41px;
    gap: 25px;
}


.services {
    display: grid;
    justify-items: center;
    margin: auto;
    background: #FAFAFA;
}

.services_title_main {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    line-height: normal;
    width: 682px;
    height: 48px;
    padding-top: 92px;
    text-align: center;

}

.services_title_par{
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 150%;
    width: 682px;
    height: 48px;
    padding-top: 19px;
    margin-bottom: 31px;
}

.services_main {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 31px;
    width: 1440px;
    height: 616px;
    margin: auto;
    border: 1px solid #000;
    gap: 36px;
}

.services_choose {
    width: 370px;
    height: 549px;
    border: 1px solid #000;
    background: #FFF;
    margin: 0;
    display: grid;
    justify-items: center;
}

.services_title_choose {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    width: 208px;
    height: 30px;
    margin: 0;
    padding-bottom: 22px;
}

.services_text {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    line-height: 150%;
    width: 310px;
    height: 63px;
    padding-bottom: 39px;
}

.services_button {
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    line-height: 150%;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    border: none;

}


.services_button_view {
    display: grid;
    justify-items: center;
    padding-bottom: 50px;
}